<a href="https://colab.research.google.com/github/obalonge2012/python/blob/main/pybasic_list_compre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# LIST Comprehensions
squares = []

for number in range(10):
  squares.append(number * number)

squares

In [8]:
### Work With map Objects
prices = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = 0.08

def get_price_with_tax(price):
  return price * (1 + TAX_RATE)

final_prices = map(get_price_with_tax, prices)
final_prices
list(final_prices)

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [10]:
# Leverage List Comprehensions for Sqaures
prices = [1.09, 23.56, 57.84, 4.56, 6.78]

squares = [number * number for number in range(10)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
# Leverage List Comprehensions for get_price_with_tax

final_prices = [get_price_with_tax(price) for price in prices]

final_prices

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [14]:
# Filter Values From a List
# new_list = [expression for member in iterable if conditional]

sentence = "the rocket came back from mars"

sentence_value = [char for char in sentence]

print(sentence_value)


####
[char for char in sentence if char in "aeiou"]

['t', 'h', 'e', ' ', 'r', 'o', 'c', 'k', 'e', 't', ' ', 'c', 'a', 'm', 'e', ' ', 'b', 'a', 'c', 'k', ' ', 'f', 'r', 'o', 'm', ' ', 'm', 'a', 'r', 's']

['e', 'o', 'e', 'a', 'e', 'a', 'o', 'a']

In [26]:
# Create complex filter
sentence = ("The rocket, who was named Ted, came back "
"from Mars because he missed his friends."
)

def is_consonant(letter):
  vowels = "aeiou"
  return letter.isalpha() and letter.lower() not in vowels

[char for char in sentence if not "aeiou"]

#[char for char in sentence if is_consonant(char)]

[]

In [30]:
# In the above, You can place the conditional at the end of the statement for
# basic filtering, but what if you want to change a member value instead of filtering it out?

# Change, not filtering? Just switch if-cond and for-Loop or place  if cond stat at the beginning of the expression
# new_list = [true_expr if conditional else false_expr for member in iterable]

original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]

my_prices = [price if price > 0 else 0 for price in original_prices]
my_prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [29]:
# if avove is overwhelming
def get_price(price):
  return price if price > 0 else 0

[get_price(price) for price in original_prices]

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [31]:
### Watch Out for Nested Comprehensions to create combinations of lists, dictionaries, and sets within a collection.

cities = ["Austin", "Tacoma", "Topeka", "Sacramento", "Charlotte"]
{city: [0 for _ in range(7)] for city in cities}

{'Austin': [0, 0, 0, 0, 0, 0, 0],
 'Tacoma': [0, 0, 0, 0, 0, 0, 0],
 'Topeka': [0, 0, 0, 0, 0, 0, 0],
 'Sacramento': [0, 0, 0, 0, 0, 0, 0],
 'Charlotte': [0, 0, 0, 0, 0, 0, 0]}

In [32]:
### Nested List
#Nested lists are a common way to create matrices, which youâ€™ll often use for mathematical purposes. Take a look at the code block below:
[[number for number in range(5)] for _ in range(6)]


### The outer list comprehension [... for _ in range(6)] creates six rows, while the inner list comprehension [number for number in range(5)] fills each of these rows with values.

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [33]:
### Flatteming Lists

# So far, the purpose of each nested comprehension is pretty intuitive. However, there are other situations, such as flattening lists,
# where the logic arguably makes your code more confusing.

matrix = [
    [0, 0, 0],
    [1, 1, 1],
    [2, 2, 2],
]
[number for row in matrix for number in row]

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [ ]:



>>> matrix = [
...     [0, 0, 0],
...     [1, 1, 1],
...     [2, 2, 2],
... ]
>>> flat = []
>>> for row in matrix:
...     for number in row:
...         flat.append(number)
...
>>> flat
[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [ ]:
### Use GENERATORS for LARGE datasets

# When the size of a list becomes problematic, itâ€™s often helpful to use a
# generator instead of a list comprehension in Python. A generator doesnâ€™t
# create a single, large data structure in memory, but instead returns an iterable.
# Your code can ask for the next value from the iterable as many times as
#necessary or until youâ€™ve reached the end of your sequence, while only storing a single value at a time.

sum(number * number for number in range(1_000_000_000))

# Or using map
sum(map(lambda number: number * number, range(1_000_000_000)))

In [ ]:
### Profile to Optimize Performance


>>> import random
>>> import timeit
>>> TAX_RATE = .08
>>> PRICES = [random.randrange(100) for _ in range(100_000)]
>>> def get_price(price):
...     return price * (1 + TAX_RATE)
...
>>> def get_prices_with_map():
...     return list(map(get_price, PRICES))
...
>>> def get_prices_with_comprehension():
...     return [get_price(price) for price in PRICES]
...
>>> def get_prices_with_loop():
...     prices = []
...     for price in PRICES:
...         prices.append(get_price(price))
...     return prices
...

>>> timeit.timeit(get_prices_with_map, number=100)
2.0554370979998566

>>> timeit.timeit(get_prices_with_comprehension, number=100)
2.3982384680002724

>>> timeit.timeit(get_prices_with_loop, number=100)
3.0531821520007725